body{
	margin: 0;
	background-color: darkgray;
}
h1{
	font-size: 40px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 5px;
	margin-top: 20px 0 0 0;
}
p{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 25px;
	letter-spacing: 2px;
}
.board{
	width: 600px;
	margin: 0 auto 0 auto;
	text-align: center;
}
.card{
	width: 125px;
	height: 125px;
	display: inline-block;
	margin: 3px;
	background-image: url("../image/Zakryta.png"); 
	border: 4px solid #ffff;
	border-radius: 5px;
	cursor: pointer;
	filter: brightness(70%);
	transition: all .3s ease-in-out;
}
.card:hover{
	border: 4px solid #dddd;
	filter: brightness(100%);
}
.cardA{
	width: 125px;
	height: 125px;
	display: inline-block;
	margin: 3px;
	background-image: url("../image/Zakryta.png");
	border: 4px solid #dddd;
	border-radius: 5px;
	cursor: default;
	filter: brightness(100%);
	transition: all .3s ease-in-out;
}
.score{
	margin-top:	5px;
	letter-spacing: 5px;
}