body {
	font-family:sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game-board {
	margin: auto;
	position: relative;
	background: #fff;
	overflow: hidden;
	width: 433px;
	height: 433px;
	border: 10px solid #5555;
}

.game-tile {
	position: absolute;
	cursor: pointer;
	width: 100px;
	height: 100px;
	background: #2222 center no-repeat;
}

.game-tile:hover {
	background-color:#1111;
}

.game-score {
	float: left;
  text-align: center;
	background: #3333;
	color: #FFF;
	border: 0;
	font-weight: bold;
	border-radius: 4px;
	font-size: 20px;
	padding: 15px 0 15px 0;
	margin: 10px 38px 0px 38px;
	width: 150px;
}

button.button,
input[type=button].button,
input[type=submit].button {
	background: #3333;
	color: #FFF;
	border: 0;
	font-weight: bold;
	border-radius: 4px;
	cursor: pointer;
	font-size: 20px;
	margin: 10px 38px 0px 38px;
	width: 150px;
	height: 50px;
}